<h1><%= t("act_of_spec_com_tran") %></h1>
<table class="table table-bordered table-condensed table-middle">
  <tbody>
    <tr>
      <td class="td-label td-act-of-spec-com-tran"><%= t("name_of_seller_lbl") %></td>
      <td><%= t("name_of_seller_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("address_of_seller_lbl") %></td>
      <td><%= t("address_of_seller_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("representative_lbl") %></td>
      <td><%= t("representative_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("representative_kana_lbl") %></td>
      <td><%= t("representative_kana_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("homepage_lbl") %></td>
      <td><%= link_to t("homepage_val"), t("homepage_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("email_lbl") %></td>
      <td><%= t("email_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("tel_lbl") %></td>
      <td><%= t("tel_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("price_lbl") %></td>
      <td><%= t("price_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("timing_of_delivery_lbl") %></td>
      <td><%= t("timing_of_delivery_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("delivery_lbl") %></td>
      <td><%= t("delivery_val").gsub("\n", "<br>").html_safe %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("extra_cost_lbl") %></td>
      <td><%= t("extra_cost_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("returning_lbl") %></td>
      <td><%= t("returning_val").gsub("\n", "<br>").html_safe %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("defectives_lbl") %></td>
      <td><%= t("defectives_val").gsub("\n", "<br>").html_safe %></td>
    </tr>
  </tbody>
</table>
