<h1><%= t("company_outline") %></h1>
<table class="table table-bordered table-condensed table-middle">
  <tbody>
    <tr>
      <td class="td-label"><%= t("company_name_lbl") %></td>
      <td><%= t("name_of_seller_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("date_of_establishment_lbl") %></td>
      <td><%= t("date_of_establishment_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("board_member_lbl") %></td>
      <td><%= t("board_member_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("address_of_the_head_office_lbl") %></td>
      <td><%= t("address_of_seller_val") %></td>
    </tr>
    <tr>
      <td class="td-label"><%= t("contact_information_lbl") %></td>
      <td><%= t("email_val") %></td>
    </tr>
  </tbody>
</table>
