<div class="course-header" style="background-image: url(<%= ENV['CLOUDINARY_BASE_URL'] %>/image/upload/<%= @course.cloudinary_public_id %>.jpg)">
  <h1 class="course-header"><span class="course-header">&nbsp;<%= @course.name %>&nbsp;</span></h1>
</div>
<div class="course-description">
  <table class="table-course-description">
    <tbody>
      <tr>
        <td class="td-course-youtube">
          <iframe width="400" height="225" src="<%= @course.youtube_src %>" frameborder="0" allowfullscreen></iframe>
        </td>
        <td class="td-course-description">
          <p><%= @course.description.gsub("\n", "<br>").html_safe %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="teachers">
  <div class="teachers-inner">
    <div><span class="teachers"><%= t("teachers") %></span></div>
    <% i = 0 %>
    <% @teachers.each do |teacher| %>
      <% i = i + 1 %>
      <% if i % 2 == 1 %>
        <div class="teachers-row">
      <% end %>
      <div class="teacher <%= "teacher-right" if i % 2 == 0 %>">
        <table class="teacher">
          <tbody>
            <tr>
              <td class="teacher-image">
                <%= cl_image_tag(teacher.cloudinary_public_id + ".jpg", :width => 140, :height => 140, :crop => :fill) %>
              </td>
              <td class="teacher-description">
                <div class="teacher-description-inner">
                  <h2 class="teacher-name"><%= teacher.name %></h2>
                  <p><%= teacher.description %></p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if i % 2 == 0 %>
        </div>
      <% end %>
    <% end %>
    <% if i % 2 == 1 %>
      </div>
    <% end %>
  </div>
</div>
<%= render "lessons/lessons", title: t("list_of_lesson_videos") %>
<div>&nbsp;</div>
