<div class="course-header" style="background-image: url(<%= ENV['CLOUDINARY_BASE_URL'] %>/image/upload/<%= @course.cloudinary_public_id %>.jpg)">
  <h1 class="course-header"><span class="course-header">&nbsp;<%= @course.name %>&nbsp;</span></h1>
</div>
<div class="course-description">
  <table class="table-course-description">
    <tbody>
      <tr>
        <td class="td-course-youtube">
          <iframe width="400" height="225" src="<%= @course.youtube_src %>" frameborder="0" allowfullscreen></iframe>
        </td>
        <td class="td-course-description">
          <p><%= @course.description.gsub("\n", "<br>").html_safe %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="videos-teachers">
  <table class="videos-teachers">
    <tbody>
      <tr>
        <td class="videos">
          <div class="videos">
            <div class="videos-inner">
              <span class="videos"><%= t("list_of_videos") %></span>
              <table>
                
              </table>
            </div>
          </div>
        </td>
        <td class="videos-teachers-space">
        </td>
        <td class="teachers">
        </td>
      </tr>
    </tbody>
  </table>
</div>
