<div class="footer-wrapper">
  <div class="footer-content">
    <div class="footer-links">
      <%= link_to t("terms_of_service"), "/terms_of_service" %>
      <%= link_to t("privacy_policy"), "/privacy_policy" %>
      <%= link_to t("act_of_spec_com_tran"), "act_of_spec_com_tran" %>
      <%= link_to t("company_outline"), "" %>
      <%= link_to t("inquiry"), "" %>
    </div>
    <div class="copyright">
      <%= t("copyright").html_safe %>
    </div>
  </div>
</div>
