<div class="header-wrapper">
  <div class="header-content">
    <span class="header-title" style="float:left;"><%= link_to t("header_title"), root_path %></span>
    <span class="header-left">
      <table class="table-middle table-header">
        <tr>
          <td>
            <%= link_to t("blog"), "http://blog.funglish.jp", :target => "_blank", :class => "header-link" %>
          </td>
          <td>
            <%= link_to t("facebook_page"), "http://www.facebook.com/pages/Funglish/178962315576676", :target => "_blank", :class => "header-link" %>
          </td>
        </tr>
      </table>
    </span>
    <span class="header-right">
      <table class="table-middle table-header">
        <tr>
          <% if @login_user.present? %>
            <td>
              <a href="/users/<%= @login_user.facebook_id %>">
                <%= facebook_profile_image_tag(@login_user.facebook_id + ".jpg", :width => 32, :height => 32, :crop => :fill, :gravity => :north_west) %>
              </a>
            </td>
            <td>
              <%= link_to @login_user.user_name, "/users/" + @login_user.facebook_id, :class => "header-user-name" %>
            </td>
            <td>
              <%= link_to t("logout"), "/logout" %>
            </td>
          <% else %>
            <td>
              <%= link_to t("login_signup"), "/auth" %>
            </td>
          <% end %>
        </tr>
      </table>
    </span>
  </div>
</div>
<% if @login_user.present? %>
  <div class="header-sub-wrapper">
    <div class="header-sub-content">
      <%= link_to t("english_conversation_schedules"), root_path, :class => "header-sub-links #{"active" if @active_tab == "schedule"}" %>
      <%= link_to t("apply_for_others_schedule"), "/apply", :class => "header-sub-links #{"active" if @active_tab == "apply"}" %>
      <%= link_to t("register_schedule_of_english_conversation"), "/register", :class => "header-sub-links #{"active" if @active_tab == "register"}" %>
      <%= link_to t("watch_lesson_video"), "/lesson", :class => "header-sub-links #{"active" if @active_tab == "lesson"}" %>
      <%= link_to t("conversation_history"), "/history", :class => "#{"active" if @active_tab == "history"}" %>
    </div>
  </div>
<% end%>
